.lista
{
  font-size:0.875em;
  margin-bottom:2.5em;
  margin: 1.25em;
}
.col1
{
  float:left;
  width:3.75em;
}
.col2 h3
{
	text-transform:uppercase;
}
.col2 p
{
	text-align: center;
}
.col1 i
{
  font-style:normal;
  font-size:2.375em;
  display:block;
  color:#222;
  font-family: 'FontAwesome';
  line-height:2.375em;
}