/**************************************
CSS PARA LAYOUT ESLÁSTICO
**************************************/

body 
{
  background: #2980b9;
  color: #FFF;
  font-family: Helvetica;
  text-align: center;
  margin: 0;
}

.wrapper 
{
  width: 75em;
  margin: 0 auto;
}

nav, section 
{
  float: left;
  padding: 5em 0;
}

nav 
{
  width: 20em;
  margin-right: 0.625em;
  background-color: #000 ;
}

section 
{
  width: 54.375em;
  display: block;
  padding-top: 3.125em;
}


.left p, h1
{
  text-align: center;
}

.left
{
  float: left;
  width: 26.875em;
  margin-left: 0.4375em;
}

.right
{
  float: right;
  width: 25em;
  padding-top: 2.5em;
}

.photo
{
  width: 18.75em;
  height: 25em;
}




/**************************************
CSS TO MAKE THE EXAMPLE LOOK PRETTY
**************************************/

*, *:before, *:after 
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
nav,
section
{
  border: 1px solid rgba(255,255,255,0.8);
  margin-bottom: 0.625em;
  border-radius: 0.1875em;
}