body
{
	background: #FFF9B9;
	background: url("../img/fondo_portafolio.jpg") no-repeat;
	background-size: cover;
	font-family: Helvetica;
	margin: 0;
	
}
h1
{
	font-family: verdana;
	color: #D00076;
	text-align: center;
}
h2
{
	font-family: arial;
	color: green
}
p
{
	color: purple;
	padding: 20px 0px 20px 50px;
}

.wrapper 
{
  width: 1200px;
  margin: 0 auto;
}