
/* CONTENIDO DE LA GALERÍA */

#galeria 
{
	float: left;
	color: #000;
	width: 1055px;
	margin-left: 55px;
	margin-bottom: 5px;
	padding-left: 10px;
	border-style: solid;
	background-color: white;
}

.img
{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 250px;
}

.img img
{
	width: 100%;
	height: 400px;
}

.img desc
{
	padding: 15px;
	text-align: center;
}