#contacto 
{
	width: 80%;
	float: left;
	color: #000;
	margin-left: 12px;
	margin-bottom: 5px;
	padding-left: 10px;
	border-style: solid;
	background-color: white;
}
#contacto h1
{
	text-align: left;
}


.div_tabla_contactos
{
	overflow-x:auto;
}


#tabla 
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

#tabla th, td 
{
    border: none;
    text-align: left;
    padding: 8px;
}

#tabla tr:nth-child(even)
{
	background-color: #f2f2f2
}
